# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
env/
venv/
ENV/
.venv/
venv*/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Type checkers / caches
.mypy_cache/
.dmypy.json
.pyre/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp